<div class="menu">
    <ul class="list-group sidebarlinks row mt-12 mb-12 me-5 ms-5 d-flex">
        <li class="list-group-item "><a class="page-link" href="#">Accesorios</a></li>    
        <li class="list-group-item "><a class="page-link" href="#">Camaras</a></li>    
        <li class="list-group-item "><a class="page-link" href="#">Computadores</a></li>
        <li class="list-group-item "><a class="page-link" href="#">Celulares</a></li>
        <li class="list-group-item "><a class="page-link" href="#">PS4</a></li>
        <li class="list-group-item "><a class="page-link" href="#">PS5</a></li>
        <li class="list-group-item "><a class="page-link" href="#">Relojes</a></li>
        <li class="list-group-item "><a class="page-link" href="#">Tablets</a></li>
        <li class="list-group-item "><a class="page-link" href="#">Televisores</a></li>
    </ul>
</div>