.centro {
    text-align: center;
    text-decoration: none;
}

.final {
    margin-top: 20px;
    margin-bottom: 50px;
}

.alerta {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    
}