<div class="container-fluid">
    <div class="row mt-10 mb-10 me-5 ms-5">

        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 justify-content-center">
            <app-menusizq></app-menusizq>
        </div>

        <div class="text-center justify-content-center col-sm-12 col-md-12 col-lg-10 col-xl-10 contenido">

            <div class="row mt-8 mb-7 me-7 ms-4 pe-5">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <!-- Card -->
                    <div class="card ms-4 mt-4 mb-4" style="width: 18rem;">
                        <img src="../images/reloj_xianomi.jpeg" class="card-img-top" alt="reloj" width="200px"
                            height="200px">
                        <div class="card-body">
                            <h5 class="card-title">Xiaomi watch</h5>
                            <p class="card-text">SPantalla HD moldeada - Monitorización de frecuencia cardíaca 24 horas
                                al día,
                                7 días a la semana - Medición de SP02 - Cuerpo ultradelgado
                            </p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <!-- Fin card -->
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <!-- Card -->
                    <div class="card ms-4 mt-4 mb-4" style="width: 18rem;">
                        <img src="../images/reloj_xianomi.jpeg" class="card-img-top" alt="reloj" width="200px"
                            height="200px">
                        <div class="card-body">
                            <h5 class="card-title">Xiaomi watch</h5>
                            <p class="card-text">SPantalla HD moldeada - Monitorización de frecuencia cardíaca 24 horas
                                al día,
                                7 días a la semana - Medición de SP02 - Cuerpo ultradelgado
                            </p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <!-- Fin card -->
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <!-- Card -->
                    <div class="card ms-4 mt-4 mb-4" style="width: 18rem;">
                        <img src="../images/reloj_xianomi.jpeg" class="card-img-top" alt="reloj" width="200px"
                            height="200px">
                        <div class="card-body">
                            <h5 class="card-title">Xiaomi watch</h5>
                            <p class="card-text">SPantalla HD moldeada - Monitorización de frecuencia cardíaca 24 horas
                                al día,
                                7 días a la semana - Medición de SP02 - Cuerpo ultradelgado
                            </p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <!-- Fin card -->
                </div>

            </div>

        </div>
    </div>